@(numberForm: Form[Number])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) } 

@main {
    
    <h1>@Messages("number.new")</h1>
    
    @form(routes.Application.save()) {
        
        <fieldset>
        
            @inputText(numberForm("name"), '_label -> Messages("number.name"))
            @inputText(numberForm("phoneNumber"), '_label -> Messages("number.phoneNumber"))

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="@Messages("number.createThisNumber")" class="btn primary"> @Messages("or")
            <a href="@routes.Application.list()" class="btn">@Messages("cancel")</a>
        </div>
        
    }
    
}
